// ====================
// FOOTER
// ====================

.site-footer {
  margin: 2 * $spacer-xl 0 0;

  .contact-details {
    margin: 0 0 $spacer-xl;

    small {
      color: rgba(white, 0.5);
    }

    @include media-query($screen-md) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 20px;
      margin: 0 0 4 * $spacer-xl;

      h4 {
        grid-row-start: 1;
        grid-row-end: 3;
      }
    }
  }

  @include media-query($screen-md) {
    margin: 4 * $spacer-xl 0 0;
  }
}
