<footer class="site-footer">
  <h2>Contact</h2>
  <div class="footer-col">
    <h4>To write to Rupert directly, please use the following address:</h4>
  </div>
  <div class="footer-col">
    <p>
      F.A.O. Rupert Graves<br />
      United Agents<br />
      12-26 Lexington Street<br />
      London<br />
      W1F OLE
    </p>
    <small>Please note that Rupert receives a huge amount of correspondence, and it may take a while for your letter to be answered, depending on his schedule. Please include a self-addressed envelope, and a photo if you wish to have it signed.</small>
  </div>
</footer>
