{% if include.post.external_url %}
  {% assign link_to_url = include.post.external_url %}
  {% assign link_to_target = "_blank" %}
{% else %}
  {% assign link_to_url = include.post.url %}
  {% assign link_to_target = "_self" %}
{% endif %}

<div class="post-preview">
  {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
  <p >{{ post.date | date: date_format }}</p>
  <h3>
    <a class="link-highlight" target="{{ link_to_target }}" href="{{ link_to_url }}">
      {{ post.title | escape }}
      {%- if post.external_url -%}
        &nbsp;↬
      {%- endif -%}
    </a>
  </h3>
</div>
