// ====================
// HOME
// ====================

.home {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh;

  &--left-side {
    overflow: auto;
    padding: 0 2 * $spacer-xl 2 * $spacer-xl;
  }

  &--right-side {
    background: url("images/site/rg-01.jpg") no-repeat center;
    background-size: cover;
  }

  @include media-query($screen-md) {
    grid-template-columns: 2fr 1fr;
  }

  @include media-query($screen-lg) {
    grid-template-columns: 1fr 1fr;
  }
}
