// ====================
// PAGE
// ====================

.page {
  &--header {
    margin: 0 0 $spacer-xl;
  }

  &--title {
    margin: 0 0 $spacer-md;
  }

  &--content {
    h1, h2, h3, h4, h5 {
      margin: $spacer-lg 0 $spacer-sm;
    }
  }
}
