// ====================
// POST
// ====================

.post {
  &--header {
    margin: 0 0 $spacer-xl;
  }

  &--title {
    margin: 0 0 $spacer-md;
  }

  &--category {
    background: rgba(white, 0.3);
    padding: 0.5 * $spacer-xs $spacer-sm;
    font-size: 0.8em;
  }

  &--content {
    h1, h2, h3, h4, h5 {
      margin: $spacer-lg 0 $spacer-sm;
    }

    a {
      @extend .link-highlight;
    }

    hr {
      margin: $spacer-lg 0;
      border-color: rgba(white, 0.15);
      border-style: solid;
    }
  }  
}
