// ===============
// Base
// ===============

body {
  background: $color-primary;
  color: white;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-content {
  min-height: 100vh;
}

.page-wrapper {
  width: calc(100% - #{spacer-lg});
  max-width: 1200px;
  margin: 0 auto;
  padding: 2 * $spacer-xl 0;
}
