// ===============
// Base
// ===============

body {
  background: black;
  color: white;
  font-family: $fontstack;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.page-content {
  min-height: 100vh;
}

.page-wrapper {
  width: calc(100% - #{$spacer-lg});
  max-width: 960px;
  margin: 0 auto;
  padding: 3 * $spacer-xl 0;
}
