// ====================
// BASE
// ====================

body {
  background: black;
  color: white;
  font-family: $fontstack;
  font-size: 18px;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

* {
  box-sizing: border-box;
}

.page-content {
  &--left {
    overflow: auto;
    padding: 2 * $spacer-xl $spacer-mlg $spacer-mlg;

    @include media-query($screen-md) {
      padding: 4 * $spacer-xl 2 * $spacer-xl 2 * $spacer-xl;
    }
  }

  &--right {
    background: url("images/site/rg-01.jpg") no-repeat center;
    background-size: cover;
  }

  @include media-query($screen-md) {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 2fr 1fr;
  }

  @include media-query($screen-lg) {
    grid-template-columns: 1fr 1fr;
  }
}

.page-wrapper {
  width: calc(100% - #{$spacer-lg});
  max-width: 960px;
  margin: 0 auto;
  padding: 3 * $spacer-xl 0;
}
