// ====================
// TYPOGRAPHY
// ====================

// Sizes, Weights & Margins
// --------------------

h1, h2 {
  margin: 0 0 $spacer-md;
}

h3, h4, h5, p {
  margin: 0 0 $spacer-sm;
}

h1 {
  font-size: 4em;
  font-weight: $font-weight-heavy;
}

h2 {
  font-size: 3em;
  font-weight: $font-weight-heavy;
}

h3 {
  font-size: 2em;
  font-weight: $font-weight-bold;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
  font-weight: $font-weight-bold;
}

h5 {
  font-size: 0.8em;
  font-weight: $font-weight-bold;
}

p {
  font-size: 1em;
  line-height: 1.5em;
}

small {
  font-size: 0.8em;
}

.h1-hero {
  position: relative;
  font-size: 4em;
  line-height: 1.1em;
  font-weight: $font-weight-heavy;
  margin: 3 * $spacer-xl 0;

  @include media-query($screen-md) {
    font-size: 8em;
    margin: 3 * $spacer-xl 0 5 * $spacer-xl;
  }
}


// Links
// --------------------

a {
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  display: inline;
  line-height: 1em;
  font-weight: $font-weight-bold;

  &:hover,
  &:focus {
    background: white;
    color: black;
  }
}


// Horizontal Rule
// --------------------

hr {
  margin: $spacer-lg 0;
  border-color: rgba(white, 0.15);
  border-style: solid;
}
