// ===============
// Variables
// ===============

$color-primary: #000;

$fontstack: 'Poppins', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$spacer-xs: 4px;
$spacer-sm: 8px;
$spacer-smd: 12px;
$spacer-md: 16px;
$spacer-mlg: 24px;
$spacer-lg: 32px;
$spacer-xl: 48px;
