<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="page-content--left">
        {{ content }}

        {%- include footer.html -%}
      </div>

      <div class="page-content--right">
        <a class="hero-image-caption" href="https://www.bbc.co.uk/bbcone" target="_blank">BBC One</a>
      </div>
    </main>
  </body>
</html>
