---
layout: default
---

<div class="home">
  <div class="home--left-side">
    <h1 class="h1-hero">{{ site.title }}</h1>

    <h2>Latest News</h2>

    <ul class="post-list">
      {%- for post in site.posts limit:10 -%}
      <li class="post-list-item">
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}
        <p >{{ post.date | date: date_format }}</p>
        <h3>
          {%- if post.external_url -%}
            <a class="link-highlight" href="{{ post.external_url }}" target="_blank">
              {{ post.title | escape }} ↬
            </a>
          {%- else -%}
            <a class="link-highlight" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          {%- endif -%}
        </h3>
      </li>
      {%- endfor -%}
    </ul>

    <h4><a class="link-highlight" href="/news">View Older News →</a></h4>

  </div>

  <div class="home--right-side"></div>

  {{ content }}
</div>
